    <p>Blackjack rankings:
    <% for (key in rankingBlackjack) { %>
    <p>
    Rank: <%= Number(key) + 1%>
    Name: <%= rankingBlackjack[key].player %>
    Wins: <%= rankingBlackjack[key].wins %>
    </p>
    <% } %>
    </p>