  <table>
  <th>Blackjack rankings:</th>
  <table class="rankings table table-hover">
  <thead>
    <th>Rank</th>
    <th>Player</th>
    <th>Wins</th>
  </thead>
   <tbody>
    <% for (key in rankingBlackjack) { %>
      <tr>
        <td><%= Number(key) + 1%></td>
        <td><%= rankingBlackjack[key].player %></td>
        <td><%= rankingBlackjack[key].wins %></td>
      </tr>
      <% } %>
   <tbody>
</table>
