<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BEA - Home Page</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!-- App CSS -->
  <link rel="stylesheet" href="/styles/app.css" type="text/css"/>


</head>

  <body>
  <div class= "nav-bar">
  </div>

  <div class = "opponent">




  </div>

  <div class= "prize">

  </div>

  <div class= "player_deck">

  </div>

  </body>


</html>
