<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BEA - Home Page</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!-- App CSS -->
  <link rel="stylesheet" href="/styles/app.css" type="text/css"/>

</head>

<body class="bump-down">

  <div class= "nav-bar">
  <% include ./partials/_nav_game %>
  </div>

     <div class='container'>
      <div class='row play-area'>

        <div class = "opponent row-sm-3">
          <img class="card-deck" id="card-1-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-2-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-3-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-4-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-5-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-6-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-7-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-8-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-9-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-10-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-11-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-12-opponent" src="/images/card_logo.png">
          <img class="card-deck" id="card-13-opponent" src="/images/card_logo.png">
          <div class="navbar-form navbar-right">Player 1  Score:<%= name %></div>
        </div>
        <br>

        <div class= "prize row-sm-2">
          <img class="card-deck" id="card-deck-table" src="/images/card_logo.png">
          <img class="card-deck" id="card-played-table" src="/images/card_logo.png">
          <img class="card-deck" id="card-deck-table" src="/images/card_logo.png">
          <img class="card-deck" id="card-played-table" src="/images/card_logo.png">
        </div>
        <br>
        <br>
        <div class= "player_deck row-sm-3">
          <img class="card-deck" id="card-1-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-2-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-3-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-4-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-5-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-6-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-7-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-8-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-9-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-10-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-11-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-12-player" src="/images/card_logo.png">
          <img class="card-deck" id="card-13-player" src="/images/card_logo.png">
          <div class="navbar-form navbar-right">Player 2 Score:<%= name %></div>
        </div>
        <br>
      </div>
    </div>
  </body>
</html>
