<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />


  <title>BEA - Home Page</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- using Antic Didone font -->
  <link href="https://fonts.googleapis.com/css?family=Antic+Didone" rel="stylesheet">

   <!-- App CSS -->
  <link rel="stylesheet" href="/styles/app.css" type="text/css"/>

  <!-- External JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- App JQuery -->
  <script type="text/javascript" src="/scripts/home.js"></script>

</head>

<body>
<% include ./partials/_nav %>
<div class="container mainpage">


    <div class="jumbotron" style= "border-radius: 5em;">

      <h1 class="choose_game">Choose Game</h1>
        <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p>Players Online: 1</p>
              <a href="http://localhost:8080/goofspeil/1/1"><img class="game-icon" src="/images/Goofspeil.png"></a>
              <a href="http://localhost:8080/goofspeil/1/1"><button type="button" class="bottomaligned btn btn-primary" style="position:relative; margin-top: 1em;">Start Game</button></a>
              <a href="http://localhost:8080/goofspeil/1/2"><button type="button" class="bottomaligned btn btn-primary" style="position:relative; margin-top: 1em;">Start Game</button></a>

              <% include ./partials/_goofspeilranking %>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p>Players Online: 0</p>
              <img class="game-icon" src="/images/blackjack-icon.png">
              <button type="button" class="btn bottomaligned btn btn-primary" style="position:relative; margin-top: 1em;">Start Game</button>
              <button type="button" class="bottomaligned btn btn-dark" style="position:relative; margin-top: 1em;">Matchmaking</button>
              <% include ./partials/_blackjackranking %>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <p>Players Online: 0</p>
              <img class="game-icon" src="/images/texashold.jpg">
              <button type="button" class="bottomaligned btn btn-primary" style="position:relative; margin-top: 1em;">Start Game</button>
              <button type="button" class="bottomaligned btn btn-dark" style="position:relative; margin-top: 1em;">Matchmaking</button>
              <table class = "rankings">
              <th>Texas Hold 'em rankings:</th>
              <table class="rankings table table-hover">
              <thead>
                <th>Rank</th>
                <th>Player</th>
                <th>Wins</th>
              </thead>
               <tbody>
                <% for (key in rankingBlackjack) { %>
                  <tr>
                    <td><%= Number(key) + 1%></td>
                    <td><%= rankingBlackjack[key].player %></td>
                    <td><%= rankingBlackjack[key].wins %></td>
                  </tr>
                  <% } %>
                 <tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>


<!-- Including Bootstrap's Files via CDN -->
<!-- must be at the end of body -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>



</body>
</html>

