.bump-down{
    max-width: 97%;
    width: 100%;
    padding: 0 20px;
    margin: 20px 0 0;
    box-sizing: border-box;
}



.container{
  width: 90%;
  margin:0 auto;
}

.prize {
  box-shadow: 10px 10px 10px #ccc;
}

.opponent{
  box-shadow: 10px 10px 10px #ccc;
}

.player_deck{
  box-shadow: 10px 10px 10px #ccc;
}


.choose_game{
  text-align: center;
}
.jumbotron{


}

.game-icon{
  height: 10em;
  width: 15em;
}

#button{

}

.card-deck{
  align-content: center;
  height: 5.5em;
  width: 5.5em;
  margin: 0.5em;
  box-shadow: 10px 10px 10px #ccc;
}

.player-card-deck:hover {
  cursor: pointer;
  border: 3px solid blue;
}

.logo{
    height: 10em;
    width: 15em;
    position: relative;
}

.rankings{
  width: 6em;
}

