.container{

}


.choose_game{
  text-align: center;
}
.jumbotron{


}

.game-icon{
  height: 10em;
  width: 15em;
}

#button{

}

.card-deck{
  height: 5em;
  width: 10em;
}

.logo{
    height: 10em;
    width: 15em;
    float: left;
    position: relative;
}


