.container{
  width: 90%;
  margin:0 auto;
}

.prize {
  background: green;
}

.opponent{
  background: lightgrey;
}

.player_deck{
  background: aliceblue;
}


.choose_game{
  text-align: center;
}
.jumbotron{


}

.game-icon{
  height: 10em;
  width: 15em;
}

#button{

}

.card-deck{
  height: 5em;
  width: 10em;
  margin: 0.5em;
}

.logo{
    height: 10em;
    width: 15em;
    position: relative;
}



